# Ignorar archivos temporales de Quartus, excepto el archivo .qsf para asignaciones de pines
!*.qsf
*.qpf
*.sdc
*.synthesis

# Ignorar archivos de simulación
*.vcd
*.ghw

# Ignorar carpetas de compilación
db/
incremental_db/
simulation/
output_files/

